<div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="container">
        <form action="{% url 'tickets' %}" name="create_ticket" method="post" enctype="multipart/form-data"
            class="form mx-auto">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="text-center">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Valider
                        </button>
                        {% endbuttons %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>