{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

<div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <form action="{% url 'login' %}" method="post" class="form mx-auto">
        <div class="text-center">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <button type="submit" class="btn btn-primary">
                Connection
            </button>
            {% endbuttons %}
            <p>Vous n'avez pas de compte? <a href="{% url 'register' %}">S'enregistrer</a></p>
        </div>
    </form>
</div>


{# Read the documentation for more information #}
{% endblock content %}