{% load bootstrap5 %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo în stânga -->
        <a class="navbar-brand fw-bold" href="#">LITEREVU</a>

        <!-- Buton pentru meniul responsiv pe dispozitive mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Elemente de navigare în dreapta -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- {% if user.is_authenticated %} -->
                <!-- Afișează numele utilizatorului dacă este autentificat -->
                <li class="nav-item">
                    <span class="nav-link">Bună, {{ user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Flux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'followers' %}">Abonnements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Se Deconectare</a>
                </li>
                <!-- {% else %} -->
                <!-- Afișează opțiunile de autentificare dacă nu este autentificat -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Autentificare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Înregistrare</a>
                </li>
                <!-- {% endif %} -->
            </ul>
        </div>
    </div>
</nav>