{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

<div class="container-fluid posts">
    <div class="row">
        <div class="col-md-3">
            <h4 class="mb-3 text-primary text-center">Tickets Créé</h4>
            <table class="table table-bordered">
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <th scope="row" class="text-center h6">{{ticket}}</th>
                        <td class="text-center">
                            <form action="{% url 'posts' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="ticket" value="{{ticket.id}}">
                                <input type="hidden" name="form_type" value="delete">
                                <button type="submit" class="btn-danger btn">Supprimer</button>
                            </form>
                        </td>
                        <td class="text-center">
                            <form action="{% url 'posts' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="ticket" value="{{ticket.id}}">
                                <input type="hidden" name="form_type" value="update">
                                <button type="submit" class="btn-primary btn">Modifier</button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="container " id="ticket_form">
                <h4 class="mb-3 text-primary text-center">Creer un Ticket</h4>
                <form action="{% url 'tickets' %}" method="post" enctype="multipart/form-data"
                    class="form mx-auto border">
                    <div class="row">
                        <div class="text-center">
                            {% csrf_token %}
                            {% bootstrap_form ticket_form %}
                            {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Valider
                            </button>
                            {% endbuttons %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="container " id="review_form">
                <h4 class="mb-3 text-primary text-center">Creer un Review</h4>
                <form action="{% url 'tickets' %}" method="post" enctype="multipart/form-data" class="form mx-auto border ">
                    <div class="row">
                        <div class="text-center">
                            {% csrf_token %}
                            {% bootstrap_form review_form %}
                            {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Valider
                            </button>
                            {% endbuttons %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <h4 class="mb-3 text-primary text-center">Reviews Créé</h4>
            <table class="table table-bordered">
                <tbody>
                    {% for review in reviews %}
                    <tr>
                        <th scope="row" class="text-center h6">{{review}}</th>
                        <td class="text-center">
                            <form action="{% url 'posts' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="review" value="{{review.id}}">
                                <input type="hidden" name="form_type" value="delete">
                                <button type="submit" class="btn-danger btn">Suprimmer</button>
                            </form>
                        </td>
                        <td class="text-center">
                            <form action="{% url 'posts' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="review" value="{{review.id}}">
                                <input type="hidden" name="form_type" value="update">
                                <button type="submit" class="btn-primary btn">Modifier</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>










{# Read the documentation for more information #}
{% endblock content %}