body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(196, 120, 12)), url("../images/librarie.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* Ajustează poziția imaginii */
    height: 100vh;
}

.active-link {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid blue;
}

.followers {
    top: 20%;
    position: absolute;
}

#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#id_rating label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    /* Ajustează marginea pentru a controla spațierea între elementele checkbox */
}

.btn-margin {

    margin-right: 40px;
    /* Aici puteți ajusta spațiul */
}