body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(196, 120, 12)), url("../images/librarie.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* Ajustează poziția imaginii */
    height: 100vh;
}